{% extends 'base.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}
    <div class="row text-center">
        <h1>忘记您的密码？请重置！</h1>
        <p>发送邮件设置新密码！</p>
        <form class="form-horizontal" action="." method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right">邮箱</label>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="发送邮件"/>
        </form>
    </div>
{% endblock %}