{% extends 'base.html' %}
{% block title %}修改密码{% endblock %}

{% block nav-home %}active{% endblock %}

{% block content %}
    <div class="row text-center">
        <h1>修改密码</h1>
        <p>请输入您的就密码并且输入两次性密码！以便我们验证！</p>
        <div>
        {% if form.new_password1.help_text %}
            <div id="remind-style" class="text-left" style="margin-left: 520px">
                {{ form.new_password1.help_text|safe }}
            </div>
        {% endif%}
        </div>
        <form class="form-horizontal" method="POST" action="{% url 'account:password_change' %}">
            {% csrf_token %}
            <!-旧密码--->
            <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    {{ form.old_password.label_tag }}
                </label>
                <div class="col-md-6 text-left">
                    {{ form.old_password }}
                    <span style="color: red">{{ form.old_password.errors }}</span>
                </div>
            </div>

            <!-新密码1--->
            <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    {{ form.new_password1.label_tag }}
                </label>
                <div class="col-md-6 text-left">

                    {{ form.new_password1 }}
                    <span style="color: red">{{ form.new_password1.errors }}</span>
                </div>
            </div>
            <!-新密码2--->
            <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    {{ form.new_password2.label_tag }}
                </label>
                <div class="col-md-6 text-left">

                    {{ form.new_password2 }}
                    <span style="color: red">{{ form.new_password2.errors }}</span>
                </div>
            </div>
            <input type="submit" value="确定修改" class="btn btn-primary btn-lg">
        </form>
    </div>

{% endblock %}