{% extends 'base.html' %}
{% load staticfiles %}
{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}
{# 头部扩展 #}

{% block home-extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}"/>
{% endblock %}

{#博客选中#}
{% block nav-blog_active %}active{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">
                <h1>{{ blog.title }}</h1>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blogs_wilth_type' blog.blog_type.id %}">{{ blog.blog_type }}</a></li>
                    <li>发布时间：{{ blog.created_time|date:'Y-m-d H:i:s' }}</li>
                    <li>阅读数量:({{ blog.get_read_num }})</li>
                </ul>
                <div class="blog-content">{{ blog.content|safe }}</div>

                {# 上下篇 #}
                <div class="blog-up-down">
                    <p>上一篇：
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.id %}">{{ previous_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>

                    <p> 下一篇：
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.id %}">{{ next_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {# 评论 #}
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">
                {# 提交评论 #}
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                    {% if user.is_authenticated %}
                    {# 后端不用传user也可以访问，是由于Django的机制，TEMPLATES中有添加渲染 #}
                        <form id="comment_from" action="{% url 'update_comment' %}" method="POST" style="overflow: hidden">
                            {% csrf_token %}
                            <label for="comnent-text">{{ user.username }}，欢迎评论~~</label>
                            {{ comment_Form|safe }}
                            <span id="comnent_error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="btn btn-primary btn-sm pull-right" style="float: right">
                        </form>
                    {% else %}
                        您未登录,登陆后方可评论！请
                        <a  class="btn btn-primary btn-sm" href="{% url 'login' %}?from={{ request.get_full_path }}">
                            登录
                        </a>
                        <span> or </span>
                        <a  class="btn btn-danger btn-sm" href="{% url 'register' %}?from={{ request.get_full_path }}">
                            注册
                        </a>
                    {% endif %}
                </div>
                {# 评论列表区 #}
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    <div id="comment_list">
                        {% for commnet in commnets %}
                            <p>
                                {{ commnet.user }}
                                {{ commnet.comment_time|date:'Y-m-d H:i:s' }}:
                                {{ commnet.text|safe }}
                            </p>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# 扩展js #}
{% block extents_js %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>
        $("#comment_from").submit(function () {
            //判断内容是否为空
            $('#comnent_error').text('');
            if (CKEDITOR.instances['id_text'].document.getBody().getText().trim() == ''){
                $('#comnent_error').text('评论内容不能为空~~~~');
                return false
            }

            //提交数据到textarea,找到id为id_text提交数据到texttarea
            CKEDITOR.instances['id_text'].updateElement();
            //异步提交
            $.ajax({
                url:"{% url 'update_comment' %}",
                type:'POST',
                cache:false,
                data:$(this).serialize(), //将form表单内的数据序列化
                success:function (data) {
                    console.log(data);
                    //插入数据
                    if (data['status'] == 'SUCCESS'){
                        var comment_html ='<div>' +
                                            data["username"] + ' '
                                            + data['comment_time'] + ' ：'+
                                            data['text'] +
                                            '</diV>';
                        $('#comment_list').prepend(comment_html);
                        CKEDITOR.instances['id_text'].setData('');  //清空数据
                    }else {
                        //显示错误信息
                        $('#comnent_error').text(data['message']);
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            });
            return false
        })
    </script>
{% endblock %}