{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
{#    <link rel="stylesheet" href="/static/base.css"/>#}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}"/>
    {% block home-extends %}{% endblock %}
</head>
<body>
    {# 头部 #}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
              <!-- 个人博客网站 -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'blog_list' %}">个人博客网站</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% block nav-home %}{% endblock %}">
                        <a href="{% url 'home' %}">首页</a>
                    </li>
                    <li class="{% block nav-blog_active %}{% endblock %}">
                        <a href="{% url 'blog_list' %}">博客</a>
                    </li>
                </ul>
                {# 左侧下拉框和退出功能 #}
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group" style="margin-top: 8px">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="min-width: 90px">
                                <li class="text-center">
                                    <a href="{% url 'account:password_change' %}">修改密码</a>
                                    <a href="#">个人信息</a>
                                    <a href="#">后台管理</a>
                                </li>
                                </ul>
                            </div>
                        </li>

                        <li style="margin-right: 20px">
                            <a href="{% url 'account:logout' %}">退出</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li style="margin-right: 20px"><a href="{% url 'account:login' %}?from={{ request.get_full_path }}">登录</a></li>
                        <li style="margin-right: 20px"><a href="{% url 'account:register' %}?from={{ request.get_full_path }}">注册</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {# 内容 #}
    {% block content %}{% endblock %}


    <script src="{% static 'jquery-3.3.1.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

    {# 扩展的js #}
    {% block extents_js %}{% endblock %}


</body>
</html>