<div class="container">
        <div class="row">
            {# 右侧内容 #}
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block blog-list-title %}
                            博客列表
                        {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <h3><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                    <a href="{% url 'blogs_wilth_type' blog.blog_type.id %}">
                                        {{ blog.blog_type.type_name }}
                                    </a>
                                    &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    {{ blog.created_time }}&nbsp;&nbsp;
                                    <span>阅读数量:({{ blog.get_read_num }})</span>
                                </p>
                                <p>{{ blog.content|striptags|truncatechars:100 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <p>-- 暂无博客，敬请期待！--</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="custom_paginator">
                    {# 分页功能 #}
                    <ul class="pagination">
                        {# 页码上一页 #}
                        <li>
                            {% if page_of_blogs.has_previous %}
                                 <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>
                        {# 全部页码 #}
                        {% for page_num in page_range_number %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><a>{{ page_num }}</a></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 页码下一页 #}
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page_of_blogs.paginator.count }}篇博客
                        当前页码{{ page_of_blogs.number }}，共有{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
            </div>
            {# 左侧分类 #}
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                {# 博客分类 #}
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_wilth_type' blog_type.id %}">
                                        {{ blog_type.type_name }}({{ blog_type.blog_count }})
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {# 日期归档 #}
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_date,blog_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_wilth_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:'Y年m月' }}({{ blog_count }})
                                    </a></li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
